audio/*.txt
audio/*.mp3

*.log

uv.lock
bun.lock

root.shar
root.gz
root.b64

uploads

*.DUN

.parcel-cache
.vite

[^d][^i][^n][^g]*.mp3

*.db

bottle.py

.microservice*

__pycache__
node_modules
dist
.cache
venv

\#*#
.#*
*~
.*~

*.egg-info
